@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SatoshiReg";
  src: url("../fonts/Satoshi/Satoshi-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SatoshiMid";
  src: url("../fonts/Satoshi/Satoshi-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "SatoshiBlk";
  src: url("../fonts/Satoshi/Satoshi-Black.woff2") format("woff2");
}
@font-face {
  font-family: "SatoshiBold";
  src: url("../fonts/Satoshi/Satoshi-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "DentonReg";
  src: url("../fonts/Denton/DENTONCONDENSEDTEST-REGULAR.OTF") format("otf");
}

@font-face {
  font-family: "DentonRegItalic";
  src: url("../fonts/Denton/DENTONCONDENSEDTEST-REGULARITALIC.OTF")
    format("otf");
}

@font-face {
  font-family: "DentonBold";
  src: url("../fonts/Denton/DENTONCONDENSEDTEST-BOLD.OTF") format("otf");
}

* {
  font-family: "Satoshi";
}
